<DataType xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" IsAbstract="false"
 TypeName="{{typeName}}" TypePath="{{typePath}}" Label="{{label}}"
 BaseTypeName="{{parent.typeName}}" BaseTypePath="{{parent.typePath}}">
    <Meta>
        <IsServiceGroupOnly>false</IsServiceGroupOnly>
        <Documentation>{{description}}</Documentation>
    </Meta>
{{#vars}}{{^isInherited}}
    <Data Label="{{propLabel}}" VariableName="{{propVarName}}" {{#isList}}IsList="true"{{/isList}}{{^isPrimitive}}
     ReferenceName="{{propRefType}}" ReferencePath="{{propRefPath}}"{{/isPrimitive}}>
        <Meta>{{#isPrimitive}}
            <Type>{{javaType}}</Type>{{/isPrimitive}}
            <Documentation>{{propDescription}}</Documentation>
        </Meta>
    </Data>
{{/isInherited}}{{/vars}}
    <Service Label="{{label}}" TypeName="{{typeName}}">
        <Operation Label="Validate" Name="validate" IsStatic="false">
            <Input>
            </Input>
            <Output>
                <Data ID="1" Label="OAS Validation Result" VariableName="oASValidationResult1" ReferenceName="OASValidationResult" ReferencePath="xmcp.oas.datatype"/>
            </Output>
            <SourceCode>
                <CodeSnippet Type="Java">
xmcp.oas.datatype.OASValidationResult result = new xmcp.oas.datatype.OASValidationResult();
result.setErrorMessages(new ArrayList&lt;String&gt;());
{{>validation}}
return result.getResult();
                </CodeSnippet>
            </SourceCode>
        </Operation>
    </Service>
</DataType>