{{!
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2024 Xyna GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}}
<DataType xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8"
 TypeName="{{classname}}"
 TypePath="{{#modelPackage}}{{modelPackage}}{{/modelPackage}}{{#moduleName}}.{{moduleName}}{{/moduleName}}"
 Label="{{name}}" IsAbstract="false" BaseTypeName="OASBaseType" BaseTypePath="xmcp.oas.datatype"
>
  <Meta>
    <IsServiceGroupOnly>false</IsServiceGroupOnly>
    <Documentation>{{#description}}{{description}}{{/description}}
values: {{#allowableValues}}{{#values}}{{.}}{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}}</Documentation>
  </Meta>
  <Data Label="value" VariableName="value">
    <Meta>
      <Type>String</Type>
      <Documentation>values: {{#allowableValues}}{{#values}}{{.}}{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}}</Documentation>
    </Meta>
  </Data>
  <Service Label="{{classname}}" TypeName="{{classname}}">
   <Operation Label="Validate" Name="validate" IsStatic="false">
      <Input>
      </Input>
      <Output>
        <Data ID="1" Label="OAS Validation Result" VariableName="oASValidationResult1" ReferenceName="OASValidationResult" ReferencePath="xmcp.oas.datatype"/>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">xmcp.oas.datatype.OASValidationResult result = new xmcp.oas.datatype.OASValidationResult();
result.setErrorMessages(new ArrayList&lt;String&gt;());

{{>enumValidation}}
return result.getResult();</CodeSnippet>
      </SourceCode>
    </Operation>{{#allowableValues}}{{#values}}
    <Operation Label="get {{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}" Name="get{{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}" IsStatic="false">
      <Input/>
      <Output>
        <Data ID="2" Label="{{classname}}" VariableName="varName" ReferenceName="{{classname}}" ReferencePath="{{#modelPackage}}{{modelPackage}}{{/modelPackage}}{{#moduleName}}.{{moduleName}}{{/moduleName}}"/>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">return new {{classname}}(&quot;{{.}}&quot;);</CodeSnippet>
     </SourceCode>
    </Operation>
    <Operation Label="is {{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}" Name="is{{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}" IsStatic="false">
      <Input/>
      <Output>
        <Data Label="{{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}" VariableName="is{{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}">
          <Meta>
            <Type>boolean</Type>
          </Meta>
        </Data>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">return &quot;{{.}}&quot;.equals(this.getValue());</CodeSnippet>
     </SourceCode>
    </Operation>{{/values}}
    </Service>{{/allowableValues}}
</DataType>