{{!
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2024 Xyna GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}}
{{#operations}}{{#operation}}<Service xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" 
 TypeName="Request{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}" TypePath="{{apiPackage}}.{{pathPrefix}}.wf" Label="request {{httpMethod}} {{path}}">
  <Operation ID="0" Label="request {{httpMethod}} {{path}}" Name="Request{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}" IsStatic="false">
    <Input>
      <Data ID="10" Label="Connect Parameter Host Port" VariableName="connectParameterHostPort10" ReferenceName="ConnectParameterHostPort" ReferencePath="xact.http"/>
      <Data ID="11" Label="{{httpMethod}} {{path}} Send Parameter" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}SendParameter11" 
       ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}SendParameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.send"/>
    </Input>
    <Output>
      <Data ID="15" Label="{{httpMethod}} {{path}} Response" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}Response15"
       ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" ReferencePath="{{apiPackage}}.{{pathPrefix}}.response"/>
    </Output>
    <Throws>
      <Exception Label="Connect Exception" VariableName="connectException30143" ReferenceName="ConnectException" ReferencePath="xact.http.exceptions"/>
      <Exception Label="Connection Already Closed Exception" VariableName="connectionAlreadyClosedException30144" ReferenceName="ConnectionAlreadyClosedException" ReferencePath="xact.http.exceptions"/>
      <Exception Label="Http Exception" VariableName="httpException30145" ReferenceName="HttpException" ReferencePath="xact.http.exceptions"/>
      <Exception Label="Timeout Exception" VariableName="timeoutException30146" ReferenceName="TimeoutException" ReferencePath="xact.http.exceptions"/>
      <Exception Label="Unexpected HTTP Response Exception" VariableName="unexpectedHTTPResponseException30147" ReferenceName="UnexpectedHTTPResponseException" ReferencePath="xact.http.exceptions"/>
    </Throws>
    <ServiceReference ID="3" Label="HTTP Service" ReferenceName="HTTPService.HTTPService" ReferencePath="xact.http">
      <Source RefID="2"/>
      <Target RefID="2"/>
    </ServiceReference>
    <ServiceReference ID="17" Label="Parse {{httpMethod}} {{path}} Response" 
     ReferenceName="Parse{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response.Parse{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" ReferencePath="{{apiPackage}}.{{pathPrefix}}.response">
      <Source RefID="16"/>
      <Target RefID="16"/>
    </ServiceReference>
     <ServiceReference ID="27" Label="OAS Type Validation" ReferenceName="OASTypeValidation" ReferencePath="xmcp.oas.wf">
      <Source RefID="26"/>
      <Target RefID="26"/>
    </ServiceReference>
    <ServiceReference ID="24" Label="OAS Type Validation" ReferenceName="OASTypeValidation" ReferencePath="xmcp.oas.wf">
      <Source RefID="23"/>
      <Target RefID="23"/>
    </ServiceReference>
    <ServiceReference ID="8" Label="HTTP Service" ReferenceName="HTTPService.HTTPService" ReferencePath="xact.http">
      <Source RefID="7"/>
      <Target RefID="7"/>
    </ServiceReference>
    <ServiceReference ID="22" Label="{{httpMethod}} {{path}} Send Parameter" 
     ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}SendParameter.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}SendParameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.send">
      <Source RefID="21"/>
      <Target RefID="21"/>
    </ServiceReference>
     <Function ID="23" Label="OAS Type Validation">
      <Source RefID="24">
      </Source>
      <Source RefID="11">
      </Source>
      <Source RefID="25">
      </Source>
      <Target RefID="24">
      </Target>
      <Invoke ServiceID="24" Operation="OASTypeValidation">
        <Source RefID="11">
          <Meta>
            <ExpectedType>{{apiPackage}}.{{pathPrefix}}.send.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}SendParameter</ExpectedType>
          </Meta>
        </Source>
        <Source RefID="25">
          <Meta>
            <LinkType>Constant</LinkType>
          </Meta>
        </Source>
      </Invoke>
      <Receive ServiceID="24">
      </Receive>
    </Function>
    <Mappings ID="5" Label="Build Payload">
      <Input>
        <Data ID="12" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{/lambda.camelcase}}12" Label="{{httpMethod}}" ReferenceName="{{httpMethod}}" ReferencePath="xact.http.enums.httpmethods">
          <Source RefID="5"/>
        </Data>
        <Source RefID="13">
          <Meta>
            <LinkType>Constant</LinkType>
          </Meta>
        </Source>
      </Input>
      <Input>
        <Data ID="14" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}SendParameter14" Label="{{httpMethod}} {{path}} Send Parameter"
         ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}SendParameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.send">
          <Source RefID="5"/>
        </Data>
        <Source RefID="11">
        </Source>
      </Input>
      <Output>
        <Data ID="6" VariableName="sendParameter6" Label="Send Parameter" ReferenceName="SendParameter" ReferencePath="xact.http">
          <Source RefID="5"/>
        </Data>
        <Target RefID="9">
        </Target>
      </Output>{{^lambda.index}}0{{/lambda.index}}{{#responses}}
      <Mapping>%2%.expectedHTTPStatusCode["{{^lambda.index}}{{/lambda.index}}"].code="{{code}}"</Mapping>
      <Mapping>%2%.expectedHTTPStatusCode["{{#lambda.index}}{{/lambda.index}}"].reason="{{message}}"</Mapping>{{/responses}}
      <Mapping>%2%.hTTPMethod#cast("xact.http.enums.httpmethods.{{httpMethod}}")=%0%</Mapping>
      <Mapping>%2%.header.contentType.mediaType="application/json"</Mapping>
      <Mapping>%2%.uRLPath.path={{#lambda.pathparam}}{{basePathWithoutHost}}{{path}}{{/lambda.pathparam}}</Mapping>{{^lambda.index}}0{{/lambda.index}}{{#queryParams}}
      <Mapping>%2%.uRLPath.query["{{^lambda.index}}{{/lambda.index}}"].attribute="{{paramName}}"</Mapping>
      <Mapping>%2%.uRLPath.query["{{#lambda.index}}{{/lambda.index}}"].value=%1%.{{paramName}}</Mapping>{{/queryParams}}
    </Mappings>
    <Function ID="2" Label="Get HTTP Connection">
      <Source RefID="3">
      </Source>
      <Source RefID="10">
      </Source>
      <Target RefID="3">
      </Target>
      <Target RefID="4">
      </Target>
      <Invoke ServiceID="3" Operation="getHTTPConnection">
        <Source RefID="10">
        </Source>
      </Invoke>
      <Receive ServiceID="3">
        <Target RefID="4">
        </Target>
      </Receive>
    </Function>
    <Function ID="21" Label="sendRequest">
      <Source RefID="22">
      </Source>
      <Source RefID="11">
      </Source>
      <Source RefID="4">
      </Source>
      <Source RefID="9">
      </Source>
      <Target RefID="22">
      </Target>
      <Target RefID="19">
      </Target>
      <Target RefID="20">
      </Target>
      <Invoke ServiceID="22" Operation="sendRequest">
        <Source RefID="11">
        </Source>
        <Source RefID="4">
        </Source>
        <Source RefID="9">
        </Source>
      </Invoke>
      <Receive ServiceID="22">
        <Target RefID="19">
        </Target>
        <Target RefID="20">
        </Target>
      </Receive>
    </Function>
    <Function ID="16" Label="parseResponse">
      <Source RefID="17">
      </Source>
      <Source RefID="4">
      </Source>
      <Source RefID="19">
      </Source>
      <Source RefID="20">
      </Source>
      <Target RefID="17">
      </Target>
      <Target RefID="18">
      </Target>
      <Invoke ServiceID="17" Operation="parseResponse">
        <Source RefID="4">
        </Source>
        <Source RefID="19">
        </Source>
        <Source RefID="20">
        </Source>
      </Invoke>
      <Receive ServiceID="17">
        <Target RefID="18">
        </Target>
      </Receive>
    </Function>
    <Function ID="7" Label="Close Connection">
      <Source RefID="8">
      </Source>
      <Source RefID="4">
      </Source>
      <Target RefID="8">
      </Target>
      <Invoke ServiceID="8" Operation="closeConnection">
        <Source RefID="4">
        </Source>
      </Invoke>
      <Receive ServiceID="8">
      </Receive>
    </Function>
    <Function ID="26" Label="OAS Type Validation">
      <Source RefID="27">
      </Source>
      <Source RefID="18">
      </Source>
      <Source RefID="28">
      </Source>
      <Target RefID="27">
      </Target>
      <Invoke ServiceID="27" Operation="OASTypeValidation">
        <Source RefID="18">
          <Meta>
            <ExpectedType>{{apiPackage}}.{{pathPrefix}}.response.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response</ExpectedType>
          </Meta>
        </Source>
        <Source RefID="28">
          <Meta>
            <LinkType>Constant</LinkType>
          </Meta>
        </Source>
      </Invoke>
      <Receive ServiceID="27">
      </Receive>
    </Function>
    <Data ID="4" VariableName="hTTPConnection4" Label="HTTP Connection" ReferenceName="HTTPConnection" ReferencePath="xact.http">
      <Source RefID="2"/>
    </Data>
    <Data ID="9" VariableName="sendParameter9" Label="Send Parameter" ReferenceName="SendParameter" ReferencePath="xact.http">
      <Source RefID="5"/>
    </Data>
    <Data ID="13" VariableName="const_{{httpMethod}}13" Label="{{httpMethod}}" ReferenceName="{{httpMethod}}" ReferencePath="xact.http.enums.httpmethods">
    </Data>
    <Data ID="18" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}Response18" Label="{{httpMethod}} {{path}} Response"
     ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" ReferencePath="{{apiPackage}}.{{pathPrefix}}.response">
      <Source RefID="16"/>
    </Data>
    <Data ID="19" VariableName="hTTPStatusCode19" Label="HTTP Status Code" ReferenceName="HTTPStatusCode" ReferencePath="xact.http.enums.statuscode">
    </Data>
    <Data ID="20" VariableName="header20" Label="Header" ReferenceName="Header" ReferencePath="xact.http">
    </Data>
    <Data ID="25" VariableName="const_XynaPropertyString25" Label="Xyna Property String" ReferenceName="XynaPropertyString" ReferencePath="xfmg.xods.configuration">
      <Data VariableName="propertyName">
        <Meta>
          <Type>String</Type>
        </Meta>
        <Value>xmcp.oas.validation.request_validation</Value>
      </Data>
      <Data VariableName="value">
        <Meta>
          <Type>String</Type>
        </Meta>
        <Value></Value>
      </Data>
      <Data VariableName="behaviourIfPropertyNotSet" ReferenceName="UseValue" ReferencePath="xfmg.xods.configuration.parameter">
      </Data>
    </Data>
    <Data ID="28" VariableName="const_XynaPropertyString28" Label="Xyna Property String" ReferenceName="XynaPropertyString" ReferencePath="xfmg.xods.configuration">
      <Data VariableName="propertyName">
        <Meta>
          <Type>String</Type>
        </Meta>
        <Value>xmcp.oas.validation.response_validation</Value>
      </Data>
      <Data VariableName="value">
        <Meta>
          <Type>String</Type>
        </Meta>
        <Value></Value>
      </Data>
      <Data VariableName="behaviourIfPropertyNotSet" ReferenceName="UseValue" ReferencePath="xfmg.xods.configuration.parameter">
      </Data>
    </Data>
    <Exception ID="29" VariableName="validationException29" Label="ValidationException" ReferenceName="ValidationException" ReferencePath="xmcp.oas.exception">
      <Target RefID="31"/>
    </Exception>
    <Assign ID="1">
      <Source RefID="18">
      </Source>
      <Target RefID="15">
      </Target>
      <Copy>
        <Source RefID="18">
        </Source>
        <Target RefID="15">
        </Target>
      </Copy>
    </Assign>
    <Catch ID="30" ExceptionID="29">
      <Throw ID="31" Label="Throw Validation Exception" ExceptionID="29">
        <Meta>
          <PreferedExceptionType>xmcp.oas.exception.ValidationException</PreferedExceptionType>
        </Meta>
        <Source RefID="29">
        </Source>
      </Throw>
      <Assign>
      </Assign>
    </Catch>
  </Operation>
</Service>
{{/operation}}{{/operations}}