{{!
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2024 Xyna GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}}
// validate {{#classname}}{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{/classname}}{{paramName}}{{^paramName}}{{dataType}}{{/paramName}} of type {{dataType}}{{#baseType}} with baseType {{baseType}}{{/baseType}}
{{#isPrimitiveType}}{{^isContainer}}{{^isArray}}try {
    var primObj_{{-index}} = {{#isInteger}}
    new com.gip.xyna.openapi.OpenAPINumberType&lt;Integer&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (Integer)get("{{paramName}}"));{{/isInteger}}{{#isLong}}
    new com.gip.xyna.openapi.OpenAPINumberType&lt;Long&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (Long)get("{{paramName}}"));{{/isLong}}{{#isDouble}}
    new com.gip.xyna.openapi.OpenAPINumberType&lt;Double&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (Double)get("{{paramName}}"));{{/isDouble}}{{#isNumber}}
    new com.gip.xyna.openapi.OpenAPINumberType&lt;Double&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (Double)get("{{paramName}}"));{{/isNumber}}{{#isFloat}}
    new com.gip.xyna.openapi.OpenAPINumberType&lt;Float&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", ((Double)get("{{paramName}}")).floatValue());{{/isFloat}}{{#isBoolean}}
    new com.gip.xyna.openapi.OpenAPIBooleanType("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (Boolean)get("{{paramName}}"));{{/isBoolean}}{{#isString}}
    new com.gip.xyna.openapi.OpenAPIStringType("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (String)get("{{paramName}}"));{{/isString}}{{#isDateTime}}
    new com.gip.xyna.openapi.OpenAPIDateTimeType("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (String)get("{{paramName}}"));{{/isDateTime}}{{#isDate}}
    new com.gip.xyna.openapi.OpenAPIDateType("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}", (String)get("{{paramName}}"));{{/isDate}}{{#minimum}}
    primObj_{{-index}}.setMin({{minimum}});{{/minimum}}{{#maximum}}
    primObj_{{-index}}.setMax({{maximum}});{{/maximum}}{{#exclusiveMinimum}}
    primObj_{{-index}}.setExcludeMin();{{/exclusiveMinimum}}{{#exclusiveMaximum}}
    primObj_{{-index}}.setExcludeMax();{{/exclusiveMaximum}}{{#multipleOf}}
    primObj_{{-index}}.setMultipleOf({{multipleOf}});{{/multipleOf}}{{#isString}}{{#dataFormat}}
    primObj_{{-index}}.setFormat("{{dataFormat}}");{{/dataFormat}}{{#minLength}}
    primObj_{{-index}}.setMinLength({{minLength}});{{/minLength}}{{#maxLength}}
    primObj_{{-index}}.setMaxLength({{maxLength}});{{/maxLength}}{{/isString}}{{#required}}
    primObj_{{-index}}.setRequired();{{/required}}{{#nullable}}
    primObj_{{-index}}.setNullable();{{/nullable}}

    result.getErrorMessages().addAll(primObj_{{-index}}.checkValid());
}
catch (Exception e) {
    result.getErrorMessages().add("Error: could not validate {{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{paramName}}");
}
{{/isArray}}{{/isContainer}}{{#isArray}}try {
    var primObjList_{{-index}} = (List&lt;{{#isPrimitiveType}}{{^isEnumRef}}{{#isArray}}{{items.dataType}}{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}{{/isEnumRef}}{{/isPrimitiveType}}{{#isEnumRef}}String{{/isEnumRef}}&gt;)this.get("{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}");
    if (primObjList_{{-index}} != null) {
        for (var l : primObjList_{{-index}}) {
            var item = {{#items.isInteger}}
            new com.gip.xyna.openapi.OpenAPINumberType&lt;Integer&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l);{{/items.isInteger}}{{#items.isLong}}
            new com.gip.xyna.openapi.OpenAPINumberType&lt;Long&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l);{{/items.isLong}}{{#items.isDouble}}
            new com.gip.xyna.openapi.OpenAPINumberType&lt;Double&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l);{{/items.isDouble}}{{#items.isNumber}}
            new com.gip.xyna.openapi.OpenAPINumberType&lt;Double&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l);{{/items.isNumber}}{{#items.isFloat}}
            new com.gip.xyna.openapi.OpenAPINumberType&lt;Float&gt;("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l.floatValue());{{/items.isFloat}}{{#items.isString}}
            new com.gip.xyna.openapi.OpenAPIStringType("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l);{{/items.isString}}{{#items.isDateTime}}
            new com.gip.xyna.openapi.OpenAPIDateTimeType("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l);{{/items.isDateTime}}{{#items.isDate}}
            new com.gip.xyna.openapi.OpenAPIDateType("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}", l);{{/items.isDate}}{{#items.minimum}}
            item.setMin({{items.minimum}});{{/items.minimum}}{{#items.maximum}}
            item.setMax({{items.maximum}});{{/items.maximum}}{{#items.exclusiveMinimum}}
            item.setExcludeMin();{{/items.exclusiveMinimum}}{{#items.exclusiveMaximum}}
            item.setExcludeMax();{{/items.exclusiveMaximum}}{{#multipleOf}}
            item.setMultipleOf({{multipleOf}});{{/multipleOf}}{{#items.isString}}{{#items.dataFormat}}
            item.setFormat("{{items.dataFormat}}");{{/items.dataFormat}}{{#items.minLength}}
            item.setMinLength({{items.minLength}});{{/items.minLength}}{{#items.maxLength}}
            item.setMaxLength({{items.maxLength}});{{/items.maxLength}}{{/items.isString}}{{#items.required}}
            item.setRequired();{{/items.required}}{{#items.nullable}}
            item.setNullable();{{/items.nullable}}

            result.getErrorMessages().addAll(item.checkValid());
        }
    } {{#required}}else {
        result.getErrorMessages().add("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}} List of type {{dataType}} is required but is null.");
    }{{/required}}
}
catch (Exception e) {
    result.getErrorMessages().add("Error: could not validate {{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}");
}
{{/isArray}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{^isEnumRef}}try {
    var cplxObj_{{-index}} = this.get("{{#lambda.camelcase}}{{^isArray}}{{paramName}}{{^paramName}}{{complexType}}{{/paramName}}{{/isArray}}{{#isArray}}{{items.dataType}}{{/isArray}}{{/lambda.camelcase}}");
    if (cplxObj_{{-index}} != null) { {{^isArray}}
        var cplxValidationResult_{{-index}} = (({{complexType}})cplxObj_{{-index}}).validate();
        result.getErrorMessages().addAll(cplxValidationResult_{{-index}}.getErrorMessages());{{/isArray}}{{#isArray}}
        var cplxObjList_{{-index}} = (List&lt;{{complexType}}&gt;)cplxObj_{{-index}};
        for (var l : cplxObjList_{{-index}}) {
            var lValidationResult = l.validate();
            result.getErrorMessages().addAll(lValidationResult.getErrorMessages());
        }{{/isArray}}
    } {{#required}}else {
        result.getErrorMessages().add("{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}.{{^isArray}}{{paramName}}{{^paramName}}{{complexType}}{{/paramName}}{{/isArray}}{{#isArray}}{{items.dataType}}{{/isArray}} of type {{complexType}} is required, but is null.");
    }{{/required}}
}
catch (Exception e) {
    result.getErrorMessages().add("Error: could not validate {{#lambda.camelcase}}{{^isArray}}{{paramName}}{{^paramName}}{{complexType}}{{/paramName}}{{/isArray}}{{#isArray}}{{items.dataType}}{{/isArray}}{{/lambda.camelcase}}");
}
{{/isEnumRef}}{{#isEnumRef}}{{>enumValidation}}{{/isEnumRef}}{{/isPrimitiveType}}
