/src/com/gip/xyna/xact/trigger/snmp/SNMPTRIGGER_InterfaceNotFoundException.java
/src/com/gip/xyna/xact/trigger/snmp/SNMPTRIGGER_ResponseException.java
/src/com/gip/xyna/xact/trigger/snmp/SNMPTRIGGER_SocketBindException.java