<?xml version="1.0" encoding="UTF-8"?>
<!--
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2022 GIP SmartMercial GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->
<Configuration packages="com.gip.xyna.utils.logging" status="warn">
  <Appenders>
    <!-- config appender stdout -->
    <Console name="stout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} XYNA %5p [%t] (%F:%L) - %x %m%n" charset="UTF-8"/>
   <!-- <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} XYNA %5p [%t] (%F) - %x %m%n"/>  -->
    </Console>
  </Appenders>
  
  <Loggers>
    <!-- xynafactory.sh pipes stdout to syslog. -->
    <Root level="debug">
  <!--     <AppenderRef ref="SYSLOG" />  -->
      <AppenderRef ref="stout" />
    </Root>
    
    <Logger name="com.gip.xyna.utils.db.ConnectionPool" level="info"/>
    <Logger name="xyna.utils.exceptions" level="info"/>
  </Loggers>
</Configuration>

