{{#operations}}<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" IsAbstract="true" 
Label="{{baseName}} Api" TypeName="{{classFilename}}" TypePath="{{apiPackage}}">
  <Meta>
    <IsServiceGroupOnly>false</IsServiceGroupOnly>
  </Meta>
  <Service Label="{{pathPrefix}} Api" TypeName="{{baseName}}Api">{{#operation}}
    <Operation Label="{{httpMethod}} {{path}}" Name="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}" IsAbstract="true" IsStatic="false">
      <Meta>
        <Documentation>{{summary}}

{{notes}}
        </Documentation>
      </Meta>
      <Input>
        <Data ID="{{^lambda.index}}{{/lambda.index}}" Label="{{httpMethod}} {{path}} Parameter" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}Parameter{{#lambda.index}}{{/lambda.index}}"
        ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.request"/>
      </Input>
      <Output>
        <Data ID="{{^lambda.index}}{{/lambda.index}}" Label="{{httpMethod}} {{path}} Response" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}Response{{#lambda.index}}{{/lambda.index}}"
        ReferenceName="{{#lambda.pascalcase}}{{httpMethod}}{{path}}{{/lambda.pascalcase}}Response" ReferencePath="{{apiPackage}}.{{pathPrefix}}.response" />
      </Output>
    </Operation>{{/operation}}
  </Service>
</DataType>{{/operations}}
