{{!
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2024 Xyna GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}}
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Application applicationName="{{openAPI.info.title}}_Provider" 
 comment="{{openAPI.info.description}}" 
 factoryVersion="{{xynaFactoryVersion}}" versionName="{{openAPI.info.version}}" xmlVersion="1.1">
  <ApplicationInfo>
    <RuntimeContextRequirements>
      <RuntimeContextRequirement>
        <ApplicationName>Processing</ApplicationName>
        <VersionName>1.0.18</VersionName>
      </RuntimeContextRequirement>
      <RuntimeContextRequirement>
        <ApplicationName>{{openAPI.info.title}}_Data_Model</ApplicationName>
        <VersionName>{{openAPI.info.version}}</VersionName>
      </RuntimeContextRequirement>
    </RuntimeContextRequirements>
  </ApplicationInfo>
  <Filters>
    <Filter implicitDependency="false">
      <Name>OASFilter</Name>
      <JarFiles>OASFilter/OASFilter.jar:</JarFiles>
      <FqFilterClassname>com.gip.xyna.xact.filter.OASFilter</FqFilterClassname>
      <TriggerName>Http</TriggerName>
      <SharedLibs/>
    </Filter>
  </Filters>
  <Ordertypes>
  </Ordertypes>
  <SharedLibs>
  </SharedLibs>
  <XMOMEntries>{{#apiInfo.apis}}{{#operations}}
    <XMOMEntry implicitDependency="false">
      <FqName>{{apiPackage}}.{{classFilename}}</FqName>
      <Type>DATATYPE</Type>
    </XMOMEntry>{{#operation}}
    <XMOMEntry implicitDependency="false">
      <FqName>{{apiPackage}}.{{pathPrefix}}.wf.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Endpoint</FqName>
      <Type>WORKFLOW</Type>
    </XMOMEntry>
    <XMOMEntry implicitDependency="false">
      <FqName>{{apiPackage}}.{{pathPrefix}}.request.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter</FqName>
      <Type>DATATYPE</Type>
    </XMOMEntry>
    <XMOMEntry implicitDependency="false">
      <FqName>{{apiPackage}}.{{pathPrefix}}.response.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response</FqName>
      <Type>DATATYPE</Type>
    </XMOMEntry>{{#responses}}
    <XMOMEntry implicitDependency="false">
      <FqName>{{apiPackage}}.{{pathPrefix}}.response.{{#lambda.pascalcase}}{{httpMethod}}{{path}}Response{{#lambda.statuscode}}{{code}}{{/lambda.statuscode}}{{/lambda.pascalcase}}</FqName>
      <Type>DATATYPE</Type>
    </XMOMEntry>{{/responses}}{{/operation}}{{/operations}}{{/apiInfo.apis}}
  </XMOMEntries>
</Application>
