{{#operations}}{{#operation}}<Service xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" 
TypeName="Decode{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}" TypePath="{{apiPackage}}.{{pathPrefix}}.wf" Label="decode {{httpMethod}} {{path}}">
  <Operation ID="0" Label="decode {{httpMethod}} {{path}}" Name="Decode{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}" IsStatic="false">
    <Input>
      <Data ID="2" Label="Http Request" VariableName="httpRequest2" ReferenceName="HttpRequest" ReferencePath="xmcp.oas.datatype"/>
    </Input>
    <Output>
      <Data ID="3" Label="{{httpMethod}} {{path}} Parameter" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}Parameter3"
      ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.request"/>
    </Output>
    <ServiceReference ID="6" Label="{{httpMethod}} {{path}} Parameter" 
    ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.request">
      <Source RefID="5"/>
      <Target RefID="5"/>
    </ServiceReference>
    <Function ID="5" Label="parse Parameter">
      <Source RefID="6">
      </Source>
      <Source RefID="8">
      </Source>
      <Source RefID="2">
      </Source>
      <Target RefID="6">
      </Target>
      <Target RefID="7">
      </Target>
      <Invoke ServiceID="6" Operation="parseParameter">
        <Source RefID="8">
          <Meta>
            <LinkType>Constant</LinkType>
          </Meta>
        </Source>
        <Source RefID="2">
        </Source>
      </Invoke>
      <Receive ServiceID="6">
        <Target RefID="7">
        </Target>
      </Receive>
    </Function>
    <Data ID="7" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{path}}{{/lambda.camelcase}}Parameter7" Label="{{httpMethod}} {{path}} Parameter"
    ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.request">
      <Source RefID="5"/>
    </Data>
    <Data ID="8" VariableName="const_{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter8" Label="{{httpMethod}} {{path}} Parameter"
    ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Parameter" ReferencePath="{{apiPackage}}.{{pathPrefix}}.request">
    </Data>
    <Assign ID="1">
      <Source RefID="7">
      </Source>
      <Target RefID="3">
      </Target>
      <Copy>
        <Source RefID="7">
        </Source>
        <Target RefID="3">
        </Target>
      </Copy>
    </Assign>
  </Operation>
</Service>
{{/operation}}{{/operations}}