{{#operations}}{{#operation}}<Service xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" 
 TypeName="Encode{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}" TypePath="{{apiPackage}}.{{pathPrefix}}.wf" Label="encode {{httpMethod}} {{path}}">
  <Operation ID="0" Label="encode {{httpMethod}} {{path}}" Name="Encode{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}" IsStatic="false">
    <Input>
      <Data ID="12" Label="{{httpMethod}} {{path}} Response" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{/lambda.camelcase}}12" 
       ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" ReferencePath="{{apiPackage}}.{{pathPrefix}}.response"/>
    </Input>
    <Output>
      <Data ID="3" Label="Http Response" VariableName="httpResponse3" 
      ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype"/>
    </Output>
    <ServiceReference ID="5" Label="{{httpMethod}} {{path}} Response" 
    ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response.{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" ReferencePath="{{apiPackage}}.{{pathPrefix}}.response">
      <Source RefID="4"/>
      <Target RefID="4"/>
    </ServiceReference>
    <Function ID="4" Label="get Payload">
      <Source RefID="5">
      </Source>
      <Source RefID="12">
      </Source>
      <Target RefID="5">
      </Target>
      <Target RefID="6">
      </Target>
      <Invoke ServiceID="5" Operation="getPayload">
        <Source RefID="12">
        </Source>
      </Invoke>
      <Receive ServiceID="5">
        <Target RefID="6">
        </Target>
      </Receive>
    </Function>
    <Mappings ID="9" Label="Build Response">
      <Input>
        <Data ID="2" VariableName="{{#lambda.camelcase}}{{httpMethod}}{{/lambda.camelcase}}2" Label="{{httpMethod}} {{path}} Response"
         ReferenceName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" ReferencePath="{{apiPackage}}.{{pathPrefix}}.response">
        </Data>
        <Source RefID="12">
        </Source>
      </Input>
      <Input>
        <Data ID="10" VariableName="document10" Label="Document" ReferenceName="Document" ReferencePath="xact.templates">
        </Data>
        <Source RefID="6">
        </Source>
      </Input>
      <Output>
        <Data ID="11" VariableName="httpResponse11" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype">
        </Data>
        <Target RefID="8">
        </Target>
      </Output>
      <Mapping>%2%.body=%1%</Mapping>
      <Mapping>%2%.header.contentType.mediaType="application/json"</Mapping>
      <Mapping>%2%.statusCode=%0%.getStatusCode()</Mapping>
    </Mappings>
    <Data ID="8" VariableName="httpResponse8" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype">
    </Data>
    <Data ID="6" VariableName="document6" Label="Document" ReferenceName="Document" ReferencePath="xact.templates">
      <Source RefID="4"/>
    </Data>
    <Assign ID="1">
      <Source RefID="8">
      </Source>
      <Target RefID="3">
      </Target>
      <Copy>
        <Source RefID="8">
        </Source>
        <Target RefID="3">
        </Target>
      </Copy>
    </Assign>
  </Operation>
</Service>
{{/operation}}{{/operations}}