{{!
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Copyright 2024 Xyna GmbH, Germany
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
}}
{{#operations}}
{{#xynaOperation}}
<Service xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" TypeName="{{endpointWorkflowTypeName}}" TypePath="{{endpointWorkflowPath}}" Label="{{endpointWorkflowLabel}}">
  <Operation ID="0" Label="{{endpointWorkflowLabel}}" Name="{{endpointWorkflowTypeName}}" IsStatic="false">
    <Input>
      <Data ID="2" Label="/{{pathPrefix}} Api" VariableName="{{apiRefName}}2" ReferenceName="{{apiRefName}}" ReferencePath="{{apiRefPath}}"/>
      <Data ID="3" Label="Http Request" VariableName="httpRequest3" ReferenceName="HttpRequest" ReferencePath="xmcp.oas.datatype"/>
    </Input>
    <Output>
      <Data ID="3135" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype" VariableName="httpResponse3135"/>
    </Output>
    <Throws>
      <Exception Label="ValidationException" ReferenceName="ValidationException" ReferencePath="xmcp.oas.exception" VariableName="validationException3427"/>
    </Throws>
    <ServiceReference ID="9" Label="Decode" ReferenceName="Decode" ReferencePath="xmcp.oas.wf.provider">
      <Source RefID="8"/>
      <Target RefID="8"/>
    </ServiceReference>
    <ServiceReference ID="31" Label="Encode" ReferenceName="Encode" ReferencePath="xmcp.oas.wf.provider">
      <Source RefID="30"/>
      <Target RefID="30"/>
    </ServiceReference>
    <ServiceReference ID="6" Label="{{apiLabel}}" ReferenceName="{{apiRefName}}.{{apiRefName}}" ReferencePath="{{apiRefPath}}>
      <Source RefID="5"/>
      <Target RefID="5"/>
    </ServiceReference>
    <ServiceReference ID="444" Label="OAS Base Api" ReferenceName="OASBaseApi.OASBaseApi" ReferencePath="xmcp.oas.datatype">
      <Source RefID="443"/>
      <Target RefID="443"/>
    </ServiceReference>
    <ServiceReference ID="1973" Label="Exception Service" ReferenceName="ExceptionService.ExceptionService" ReferencePath="core.exception">
      <Source RefID="1972"/>
      <Target RefID="1972"/>
    </ServiceReference>
    <ServiceReference ID="129" Label="OAS Base Api" ReferenceName="OASBaseApi.OASBaseApi" ReferencePath="xmcp.oas.datatype">
      <Source RefID="128"/>
      <Target RefID="128"/>
    </ServiceReference>
    <ServiceReference ID="2396" Label="OAS Base Api" ReferenceName="OASBaseApi.OASBaseApi" ReferencePath="xmcp.oas.datatype">
      <Source RefID="2395"/>
      <Target RefID="2395"/>
    </ServiceReference>
    <ServiceReference ID="2251" Label="Exception Service" ReferenceName="ExceptionService.ExceptionService" ReferencePath="core.exception">
      <Source RefID="2250"/>
      <Target RefID="2250"/>
    </ServiceReference>
    <ServiceReference ID="13" Label="Encode" ReferenceName="Encode" ReferencePath="xmcp.oas.wf.provider">
      <Source RefID="12"/>
      <Target RefID="12"/>
    </ServiceReference>
    <ServiceReference ID="1571" Label="Build Respose after Error" ReferenceName="BuildResposeAfterError" ReferencePath="xmcp.oas.exception">
      <Source RefID="1570"/>
      <Target RefID="1570"/>
    </ServiceReference>
    <Function ID="128" Label="Preprocess Request">
      <Source RefID="129"/>
      <Source RefID="2"/>
      <Source RefID="3"/>
      <Target RefID="129"/>
      <Target RefID="131"/>
      <Invoke Operation="preprocessRequest" ServiceID="129">
        <Source RefID="2"/>
        <Source RefID="3"/>
      </Invoke>
      <Receive ServiceID="129">
        <Target RefID="131"/>
      </Receive>
    </Function>
    <Function ID="8" Label="Decode">
      <Source RefID="9"/>
      <Source RefID="2"/>
      <Source RefID="935"/>
      <Source RefID="131"/>
      <Target RefID="9"/>
      <Target RefID="10"/>
      <Invoke Operation="Decode" ServiceID="9">
        <Source RefID="2"/>
        <Source RefID="935">
          <Meta>
            <LinkType>Constant</LinkType>
            <ExpectedType>{{parameterFQN}}</ExpectedType>
          </Meta>
        </Source>
        <Source RefID="131">
          <Meta>
            <LinkType>UserConnected</LinkType>
          </Meta>
        </Source>
      </Invoke>
      <Receive ServiceID="9">
        <Target RefID="10">
          <Meta>
            <ExpectedType>{{parameterFQN}}</ExpectedType>
          </Meta>
        </Target>
      </Receive>
    </Function>
    <Function ID="5" Label="{{implLabel}}">
      <Source RefID="6"/>
      <Source RefID="2"/>
      <Source RefID="10"/>
      <Target RefID="6"/>
      <Target RefID="7"/>
      <Invoke Operation="{{implVarName}}" ServiceID="6">
        <Source RefID="2"/>
        <Source RefID="10"/>
      </Invoke>
      <Receive ServiceID="6">
        <Target RefID="7"/>
      </Receive>
    </Function>
    <Function ID="12" Label="Encode">
      <Source RefID="13"/>
      <Source RefID="2"/>
      <Source RefID="7"/>
      <Target RefID="13"/>
      <Target RefID="14"/>
      <Invoke Operation="Encode" ServiceID="13">
        <Source RefID="2"/>
        <Source RefID="7">
          <Meta>
            <ExpectedType>{{responseFQN}}</ExpectedType>
          </Meta>
        </Source>
      </Invoke>
      <Receive ServiceID="13">
        <Target RefID="14"/>
      </Receive>
      <Catch ExceptionID="2114" ID="2115">
        <Function ID="2250" Label="Wrap Exception">
          <Source RefID="2251"/>
          <Source RefID="2114"/>
          <Target RefID="2251"/>
          <Target RefID="2253"/>
          <Invoke Operation="wrapException" ServiceID="2251">
            <Source RefID="2114"/>
          </Invoke>
          <Receive ServiceID="2251">
            <Target RefID="2253"/>
          </Receive>
        </Function>
        <Function ID="2395" Label="Build Response after Error during Encode">
          <Source RefID="2396"/>
          <Source RefID="2"/>
          <Source RefID="2253"/>
          <Target RefID="2396"/>
          <Target RefID="2398"/>
          <Invoke Operation="buildResponseAfterErrorDuringEncode" ServiceID="2396">
            <Source RefID="2"/>
            <Source RefID="2253"/>
          </Invoke>
          <Receive ServiceID="2396">
            <Target RefID="2398"/>
          </Receive>
        </Function>
        <Assign>
          <Source RefID="2398"/>
          <Target RefID="14"/>
          <Copy>
            <Source RefID="2398"/>
            <Target RefID="14"/>
          </Copy>
        </Assign>
        <Data ID="2253" Label="Exception Holder" ReferenceName="ExceptionHolder" ReferencePath="core.exception" VariableName="exceptionHolder2253">
          <Source RefID="2250"/>
        </Data>
        <Data ID="2398" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype" VariableName="httpResponse2398">
          <Source RefID="2395"/>
        </Data>
      </Catch>
    </Function>
    <Function ID="443" Label="Postprocess Response">
      <Source RefID="444"/>
      <Source RefID="2"/>
      <Source RefID="14"/>
      <Target RefID="444"/>
      <Target RefID="446"/>
      <Invoke Operation="postprocessResponse" ServiceID="444">
        <Source RefID="2"/>
        <Source RefID="14"/>
      </Invoke>
      <Receive ServiceID="444">
        <Target RefID="446"/>
      </Receive>
    </Function>
    <Data ID="7" VariableName="{{responseVarName}}7" Label="{{responseLabel}}" ReferenceName="{{responseRefName}}" ReferencePath="{{responseRefPath}}">
      <Source RefID="5"/>
    </Data>
    <Data ID="10" VariableName="{{parameterVarName}}10" Label="{{parameterLabel}}" ReferenceName="{{parameterRefName}}" ReferencePath="{{parameterRefPath}}"/>
    <Data ID="14" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype" VariableName="httpResponse14">
      <Source RefID="12"/>
    </Data>
    <Data ID="37" Label="Response Parameter" ReferenceName="ResponseParameter" ReferencePath="xmcp.oas.datatype.provider" VariableName="responseParameter37">
      <Source RefID="34"/>
    </Data>
    <Data ID="131" Label="Http Request" ReferenceName="HttpRequest" ReferencePath="xmcp.oas.datatype" VariableName="httpRequest131">
      <Source RefID="128"/>
    </Data>
    <Data ID="446" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype" VariableName="httpResponse446">
      <Source RefID="443"/>
    </Data>
    <Data ID="935" VariableName="const_{{parameterVarName}}935" Label="{{parameterLabel}}" ReferenceName="{{parameterRefName}}" ReferencePath="{{parameterRefPath}}"/>
    <Exception ID="32" Label="Provider Processing Hook Exception" ReferenceName="ProviderProcessingHookException" ReferencePath="xmcp.oas.exception" VariableName="providerProcessingHookException32">
      <Source RefID="0"/>
    </Exception>
    <Exception ID="1446" Label="Exception" ReferenceName="Exception" ReferencePath="core.exception" VariableName="exception1446">
      <Source RefID="0"/>
    </Exception>
    <Exception ID="2114" Label="Exception" ReferenceName="Exception" ReferencePath="core.exception" VariableName="exception2114"/>
    <Assign ID="1">
      <Source RefID="446"/>
      <Target RefID="3135"/>
      <Copy>
        <Source RefID="446">
          <Meta>
            <LinkType>UserConnected</LinkType>
          </Meta>
        </Source>
        <Target RefID="3135"/>
      </Copy>
    </Assign>
    <Catch ExceptionID="1446" ID="1447">
      <Function ID="1972" Label="Wrap Exception">
        <Source RefID="1973"/>
        <Source RefID="1446"/>
        <Target RefID="1973"/>
        <Target RefID="1975"/>
        <Invoke Operation="wrapException" ServiceID="1973">
          <Source RefID="1446"/>
        </Invoke>
        <Receive ServiceID="1973">
          <Target RefID="1975"/>
        </Receive>
      </Function>
      <Function ID="1570" Label="Build Respose after Error">
        <Source RefID="1571"/>
        <Source RefID="2"/>
        <Source RefID="1975"/>
        <Target RefID="1571"/>
        <Target RefID="1573"/>
        <Invoke Operation="BuildResposeAfterError" ServiceID="1571">
          <Source RefID="2"/>
          <Source RefID="1975"/>
        </Invoke>
        <Receive ServiceID="1571">
          <Target RefID="1573"/>
        </Receive>
      </Function>
      <Assign>
        <Source RefID="1573"/>
        <Target RefID="3135"/>
        <Copy>
          <Source RefID="1573"/>
          <Target RefID="3135"/>
        </Copy>
      </Assign>
      <Data ID="1573" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype" VariableName="httpResponse1573">
        <Source RefID="1570"/>
      </Data>
      <Data ID="1975" Label="Exception Holder" ReferenceName="ExceptionHolder" ReferencePath="core.exception" VariableName="exceptionHolder1975">
        <Source RefID="1972"/>
      </Data>
    </Catch>
    <Catch ExceptionID="32" ID="33">
      <Mappings ID="34" Label="Get Processing Hook Error Response">
        <Input>
          <Exception ID="35" Label="Provider Processing Hook Exception" ReferenceName="ProviderProcessingHookException" ReferencePath="xmcp.oas.exception" VariableName="providerProcessingHookException35">
            <Source RefID="34"/>
          </Exception>
          <Source RefID="32"/>
        </Input>
        <Output>
          <Data ID="36" Label="Response Parameter" ReferenceName="ResponseParameter" ReferencePath="xmcp.oas.datatype.provider" VariableName="responseParameter36">
            <Source RefID="34"/>
          </Data>
          <Target RefID="37"/>
        </Output>
        <Mapping>%1%=%0%.errorResponse</Mapping>
      </Mappings>
      <Function ID="30" Label="Encode">
        <Source RefID="31"/>
        <Source RefID="2"/>
        <Source RefID="37"/>
        <Target RefID="31"/>
        <Target RefID="38"/>
        <Invoke Operation="Encode" ServiceID="31">
          <Source RefID="2"/>
          <Source RefID="37"/>
        </Invoke>
        <Receive ServiceID="31">
          <Target RefID="38"/>
        </Receive>
      </Function>
      <Assign>
        <Source RefID="38"/>
        <Target RefID="3135"/>
        <Copy>
          <Source RefID="38"/>
          <Target RefID="3135"/>
        </Copy>
      </Assign>
      <Data ID="38" Label="Http Response" ReferenceName="HttpResponse" ReferencePath="xmcp.oas.datatype" VariableName="httpResponse38">
        <Source RefID="30"/>
      </Data>
    </Catch>
  </Operation>
</Service>
{{/xynaOperation}}{{/operations}}
