{{#allowableValues}}try {  
  String[] enumValues_{{-index}} = { {{#values}}"{{.}}"{{^-last}}, {{/-last}}{{/values}} };
  if (!Arrays.asList(enumValues_{{-index}}).contains((String)get("{{name}}"))) {
    result.getErrorMessages().add(String.format("{{classname}}: Invalid enum value \"%s\"", (String)get("{{name}}")));
  }
}
catch (Exception e) {
  result.getErrorMessages().add("Error: could not validate {{classname}}.{{name}}");
}{{/allowableValues}}
