{{#operations}}{{#operation}}<DataType xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" IsAbstract="true"
TypeName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" TypePath="{{apiPackage}}.{{pathPrefix}}.response" Label="{{httpMethod}} {{path}} Response"
BaseTypeName="ResponseParameter" BaseTypePath="xmcp.oas.datatype.provider">
  <Meta>
    <IsServiceGroupOnly>false</IsServiceGroupOnly>
  </Meta>
  <Service Label="{{httpMethod}} {{path}} Response" TypeName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response">
    <Operation Label="get Status Code" Name="getStatusCode" IsStatic="false" IsAbstract="true">
      <Input>
      </Input>
      <Output>
        <Data Label="Http Status" VariableName="Http Status">
          <Meta>
            <Type>String</Type>
          </Meta>
        </Data>
      </Output>
    </Operation>
    <Operation Label="get Payload" Name="getPayload" IsStatic="false" IsAbstract="true">
      <Input>
      </Input>
      <Output>
        <Data ID="1" Label="Document" VariableName="document1" ReferenceName="Document" ReferencePath="xact.templates"/>
      </Output>
    </Operation>
  </Service>
</DataType>
{{#responses}}
<DataType xmlns="http://www.gip.com/xyna/xdev/xfractmod" Version="1.8" IsAbstract="false" Label="{{httpMethod}} {{path}} Response {{#lambda.statuscode}}{{code}}{{/lambda.statuscode}}"
 BaseTypeName="{{httpMethod}}{{#lambda.pascalcase}}{{path}}{{/lambda.pascalcase}}Response" BaseTypePath="{{apiPackage}}.{{pathPrefix}}.response"
 TypeName="{{#lambda.pascalcase}}{{httpMethod}}{{path}}Response{{#lambda.statuscode}}{{code}}{{/lambda.statuscode}}{{/lambda.pascalcase}}" TypePath="{{apiPackage}}.{{pathPrefix}}.response">
  <Meta>
    <IsServiceGroupOnly>false</IsServiceGroupOnly>
    <Documentation>{{#message}}Response message: {{message}}{{/message}}</Documentation>
  </Meta>{{#dataType}}
  <Data Label="{{complexType}}" VariableName="{{#lambda.camelcase}}{{complexType}}{{/lambda.camelcase}}" {{#isArray}}IsList="true"{{/isArray}}{{^isPrimitiveType}}
     ReferenceName="{{complexType}}" ReferencePath="{{#modelPackage}}{{modelPackage}}{{/modelPackage}}{{#moduleName}}.{{moduleName}}{{/moduleName}}"{{/isPrimitiveType}}>
        <Meta>{{#isPrimitiveType}}
            <Type>{{#isArray}}{{items.dataType}}{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}</Type>{{/isPrimitiveType}}
            <Documentation>{{#description}}{{description}}{{/description}}{{#isEnum}}
Enum with values: {{_enum}}{{/isEnum}}{{#format}}
format: {{format}}{{/format}}

{{#required}}requiered{{/required}}
{{#isNullable}}nullable{{/isNullable}}
            </Documentation>
        </Meta>
    </Data>{{/dataType}}{{#responseHeaders}}{{#isPrimitiveType}}
  <Data Label="{{baseName}}" VariableName="{{paramName}}" {{#isArray}}IsList="true"{{/isArray}}>
        <Meta>
          <Type>{{#isArray}}{{items.dataType}}{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}</Type>
          <Documentation>{{#description}}{{description}}{{/description}}{{#isEnum}}
Enum with values: {{_enum}}{{/isEnum}}{{#format}}
format: {{format}}{{/format}}

{{#required}}requiered{{/required}}
{{#isNullable}}nullable{{/isNullable}}
            </Documentation>
        </Meta>
    </Data>{{/isPrimitiveType}}{{/responseHeaders}}
  <Service Label="{{httpMethod}} {{path}} Response {{#lambda.statuscode}}{{code}}{{/lambda.statuscode}}" 
   TypeName="{{#lambda.pascalcase}}{{httpMethod}}{{path}}Response{{#lambda.statuscode}}{{code}}{{/lambda.statuscode}}{{/lambda.pascalcase}}">
    <Operation Label="get Status Code" Name="getStatusCode" IsStatic="false">
      <Input>
      </Input>
      <Output>
        <Data Label="Http Status" VariableName="Http Status">
          <Meta>
            <Type>String</Type>
          </Meta>
        </Data>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">return "{{code}} {{message}}";</CodeSnippet>
      </SourceCode>
    </Operation>
    <Operation Label="get Payload" Name="getPayload" IsStatic="false">
      <Input>
      </Input>
      <Output>
        <Data ID="1" Label="Document" VariableName="document1" ReferenceName="Document" ReferencePath="xact.templates"/>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">{{^dataType}}return new xact.templates.Document();{{/dataType}}{{#dataType}}xact.templates.Document body;{{^isArray}}
body = (xact.templates.Document)xfmg.xfctrl.datamodel.json.JSONDatamodelServices.writeJSONWithOptions(this.get{{#lambda.pascalcase}}{{baseType}}{{/lambda.pascalcase}}(), new xfmg.xfctrl.datamodel.json.parameter.JSONWritingOptions());{{/isArray}}{{#isArray}}
List&lt;GeneralXynaObject&gt; list = new ArrayList&lt;&gt;(get{{#lambda.pascalcase}}{{baseType}}{{/lambda.pascalcase}}());
body = xfmg.xfctrl.datamodel.json.JSONDatamodelServices.writeJSONListWithOptions(list, new xfmg.xfctrl.datamodel.json.parameter.JSONWritingOptions());{{/isArray}}

return body;{{/dataType}}
</CodeSnippet>
      </SourceCode>
    </Operation>
    <Operation Label="Validate" Name="validate" IsStatic="false">
      <Input>
      </Input>
      <Output>
        <Data ID="2" Label="OAS Validation Result" VariableName="oASValidationResult2" ReferenceName="OASValidationResult" ReferencePath="xmcp.oas.datatype"/>
      </Output>
      <SourceCode>
        <CodeSnippet Type="Java">xmcp.oas.datatype.OASValidationResult result = new xmcp.oas.datatype.OASValidationResult();
result.setErrorMessages(new ArrayList&lt;String&gt;());

{{#dataType}}{{>validation}}{{/dataType}}
return result.getResult();</CodeSnippet>
      </SourceCode>
    </Operation>
  </Service>
</DataType>
{{/responses}}
{{/operation}}{{/operations}}