name: Nightbuild for Xyna Factory

on:
    schedule:
    - cron: '35 4 * * 1-5'
    
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        java-version: [11]

    steps:
     - uses: actions/cache@v4
       id: maven-cache
       with:
         path: /home/runner/.m2
         key: ${{ runner.os }}-maven-cache

     - name: Set up Zulu JDK ${{ matrix.java-version }}
       uses: actions/setup-java@v4
       with:
         java-version: ${{ matrix.java-version }}
         distribution: 'zulu'

     - name: Use Node.js ${{ matrix.node-version }}
       uses: actions/setup-node@v4
       with:
         node-version: ${{ matrix.node-version }}

     - name: Check out xyna-factory
       uses: actions/checkout@v4
            
     - name: build
       run: |
          cd installation
          ./build.sh install_libs
          ./build.sh all -b main

     - name: Create Archive
       id: create-archive
       run: |
          RUNS_AT=$(date -u +"%Y%m%dT%H%M%SZ")
          echo "RUNS_AT=$RUNS_AT" >> "$GITHUB_OUTPUT"
          tar cvf "XynaFactory-NIGHTLY-${RUNS_AT}.tar" --force-local -C release .
          
     - name: Upload Artifact XynaFactory-NIGHTLY-${{ steps.create-archive.outputs.RUNS_AT }}
       uses: actions/upload-artifact@v4
       with:
          name: XynaFactory-NIGHTLY-${{ steps.create-archive.outputs.RUNS_AT }}
          path: XynaFactory-NIGHTLY-${{ steps.create-archive.outputs.RUNS_AT }}.tar
          retention-days: 1
